* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom,
      #009688 0px,
      #009688 15vh,
      #dddbd1 15vh,
      #d2dbdc 100%);
}

/* Main Container */

.container {
  display: flex;
  background-color: red;
  width: calc(100% - 150px);
  height: calc(100% - 50px);
  max-width: 1280px;
  flex-basis: 100%;
}

/* Sidebar */

.sidebar {
  background-color: green;
  display: flex;
  flex-direction: column;
  flex-grow: 0.8;
  flex-basis: 10rem;
  flex-shrink: 0;
}

/* Main Window */

.main-window {
  overflow-x: auto;
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-grow: 2.5;
}